.scroll-to-top {
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    width: 8vw;
    height: 8vw;
    max-width: 50px; /* Limit maximum width */
    max-height: 50px; /* Limit maximum height */
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 3vw; /* Relative font size */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scroll-to-top:hover {
    background-color: #555;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .scroll-to-top {
      bottom: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }
  